#mapid { height: 600px; }

.item-a {
    grid-area: map;
}

.item-b {
    grid-area: currentTime;
    display:flex;
    align-items: center;
    justify-content: center;
}

.item-c {
    grid-area: currentTemperature;
    display:flex;
    align-items: center;
    justify-content: center;
}

.item-d {
    grid-area: sunriseAndSunset;
    display:flex;
    align-items: center;
    justify-content: center;
}

.item-e {
    grid-area: forecast;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    "map currentTime"
    "map currentTemperature"
    "map sunriseAndSunset"
    "map forecast"
}