#mapid { height: 90vh; }

html {
    height: 100vh;
}

body{
    min-height: 100vh;
    width: 100vw;
    margin:0;
}

.map {
    grid-area: map;
}

.label {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.data {
    font-weight: normal;
}

.currentTime {
    grid-area: currentTime;
}

.weather {
    grid-area: weather;
}

.currentTemperature {
    grid-area: currentTemperature;
}

.feltTemp {
    grid-area: feltTemp;
}

.minMaxTemp {
    grid-area: minMaxTemp;
}

.pressure {
    grid-area: pressure;
}

.humidity {
    grid-area: humidity;
}

.windSpeed {
    grid-area: windSpeed;
}

.sunriseAndSunset {
    grid-area: sunriseAndSunset;
}

.layerSwitch {
    grid-area: layerSwitch;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.forecast {
    grid-area: forecast;
}

.container {
    display: grid;
    margin:0;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    "map currentTime"
    "map weather"
    "map currentTemperature"
    "map feltTemp"
    "map minMaxTemp"
    "map pressure"
    "map humidity"
    "map windSpeed"
    "layerSwitch sunriseAndSunset"
}